@tailwind components;
@tailwind utilities;
#root {
    height: 100%;
}
@font-face {
    font-family:"Montserrat-Bold";
    src: url("assets/fonts/Montserrat-Bold-Extract.ttf") format("truetype");
}
@font-face {
    font-family:"Montserrat-Regular";
    src: url("assets/fonts/Montserrat-Regular-Extract.ttf") format("truetype");
}
@font-face {
    font-family:"Montserrat-Medium";
    src: url("assets/fonts/Montserrat-Medium-Extract.ttf") format("truetype");
}

@font-face {
    font-family:"TsukuBRdGothic-Regular";
    src: url("assets/fonts/TsukuBRdGothic-Regular-Extract.ttf") format("truetype");
}
@font-face {
    font-family:"bkan";
    src: url("assets/fonts/bkan.ttf") format("truetype");
}
body {
    font-family: "bkan", "TsukuBRdGothic-Regular", serif;
}
.ant-btn {
    font-family:"Montserrat-Bold";
}
